 /*
 fonts:
 font-family: 'Roboto Mono', monospace;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Damion', cursive;
 */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     --theme: #1c1c1c;
     --color: white;
     --side: 76vw;
     --logo: 46px;
     --max: 320px;
     --shadow: rgba(239, 239, 239, 0.2);
     --grad: linear-gradient(to left, #45B649, #DCE35B);
 }

 .setting-logo {
     display: block;
     padding: 14px;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 2;
     cursor: pointer;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     transition-duration: 150ms;
 }

 .setting-logo:active {
     transform: scale(.86);
 }

 .setting-logo svg {
     fill: #45B649;
 }

 svg {
     height: var(--logo);
     width: var(--logo);
 }

 .logos {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
 }

 .logos svg {
     fill: gray;
     margin: 16px;
 }

 svg:hover {
     fill: #45B649;
 }

 body {
     background-color: var(--theme);
     color: var(--color);
     font-family: 'Montserrat', sans-serif;
 }

 main {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     background: inherit;
     width: 100vw;
     height: 100vh;
 }

 h1 {
     width: 100%;
     font-size: xx-large;
     text-align: center;
     background: var(--grad);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     letter-spacing: 4px;
     font-family: 'Damion', cursive;
 }

 .timer {
     background: #282828;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     height: var(--side);
     width: var(--side);
     max-height: var(--max);
     max-width: var(--max);
     border-radius: 50%;
     outline: none;
     user-select: none;
     padding: 100px;
     font-size: x-large;
     font-family: 'Roboto Mono', monospace;
     margin-bottom: 6px;
 }

 .min-holder,
 .sec-holder {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     margin: 10px;
 }

 #sec,
 #col,
 #min {
     font-size: 2.6em;
 }

 .txt {
     font-size: x-small;
 }

 button {
     padding: 10px 22px;
     font-size: medium;
     background: var(--theme);
     outline: none;
     text-transform: uppercase;
     background-color: transparent;
     border: 4px solid transparent;
     border-image: var(--grad);
     border-image-slice: 5;
     color: var(--color);
     font-family: 'Roboto Mono', monospace;
     cursor: pointer;
     transition-duration: 120ms;
     margin-bottom: 6px;
     box-shadow: 0 2px 8px var(--shadow);
     letter-spacing: 2px;
 }

 button:active {
     transform: scale(.86);
 }

 p {
     width: 90%;
     max-width: 760px;
     padding: 10px 16px;
     border: none;
     border-radius: 5px;
     margin-bottom: 4px;
     font-size: x-small;

 }

 section {
     display: none;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     position: absolute;
     top: 20px;
     left: 20px;
     width: 300px;
     height: 500px;
     min-height: 500px;
     background: #282828;
     transform-origin: 0% 0%;
     transform: scale(0);
     transition-duration: 300ms;
 }

 .open {
     display: flex;
     animation: slide 600ms ease-out;
     transform: scale(1);

 }

 @keyframes slide {
     0% {
         transform: scale(0);
     }

     100% {
         transform: scale(1);
     }
 }

 @media(max-width:600px) {
     p {
         font-size: xx-small;
     }

     section {
         width: calc(100% - 40px);
         height: calc(100% - 20px);
     }

 }

 a {
     text-decoration: none;
     color: #45B649;
 }

 /* checkbox */
 label {
     padding-top: -100px;
     cursor: pointer;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 input[type="checkbox"] {
     position: relative;
     height: 26px;
     width: 48px;
     background-color: #c6c6c6;
     -webkit-appearance: none;
     outline: none;
     border-radius: 20px;
     box-shadow: inset 0px 0px 5px var(--shadow);
     transition: .6s;
     transform: translateY(16px);
     margin: 10px;
     margin-right: 16px;
     cursor: pointer;
 }

 input[type="checkbox"]:checked {
     background: var(--grad);
 }

 input[type="checkbox"]:before {
     content: "";
     height: 26px;
     width: 26px;
     border-radius: 18px;
     position: absolute;
     top: 0;
     left: 0;
     transform: scale(1.1);
     transition: .4s;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
     background: #fff;
 }


 input[type="checkbox"]:checked:before {
     left: 26px;
 }

 .follow {
     font-size: large;
     font-weight: bolder;
     letter-spacing: 0;
     color: gray;
     text-transform: uppercase;
 }